/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/test/awesome-json-results/
/.psc*
/.purs*
/.psa*
npm-debug.log
test/csharp/QuickType.cs
test/golang/quicktype.go
package-lock.json
