node_modules/
/test/awesome-json-results/
npm-debug.log
yarn.lock
shrinkwrap.yaml
test/csharp/QuickType.cs
test/golang/quicktype.go
test/golang/schema.json
test/golang/schema-from-schema.json
test/elm/elm-stuff/
test/elm/elm.js
test/elm/QuickType.elm
test/fixtures/cjson/cJSON.*
test/fixtures/cjson/hashtable.*
test/fixtures/cjson/list.*
test/fixtures/rust/target
test/fixtures/java/target
test/fixtures/java-lombok/target

packages/*/dist
packages/*/node_modules

*.log
/test/elm/libsysconfcpus/
/test/runs
test/fixtures/cplusplus/json.hpp
/dist
test/fixtures/objective-c/quicktype
*.xcbkptlist
*.xcuserstate
/bin
/.node-persist
/.vs
.idea
.DS_Store
/.bsp
.metals
.scala-build
.vscode
