/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/test/awesome-json-results/
/.psc*
/.purs*
/.psa*
npm-debug.log
test/csharp/QuickType.cs
test/golang/quicktype.go
test/golang/schema.json
test/golang/schema-from-schema.json
test/elm/elm-stuff/
test/elm/elm.js
test/elm/QuickType.elm
package-lock.json

*.log
