language: node_js
node_js: node # latest
sudo: required
env:
  - FIXTURE=csharp,golang,schema,schema-json-golang
  - FIXTURE=swift3,swift4,java
  - FIXTURE=elm,typescript,newcs
services:
  - docker
before_install:
  - docker pull dvdsgl/quicktype:latest
install: >
  docker build \
    --cache-from dvdsgl/quicktype:latest \
    --tag dvdsgl/quicktype .
script: >
  docker run \
    -e FIXTURE \
    -e CI \
    -e TRAVIS_BRANCH \
    -e TRAVIS_EVENT_TYPE \
    -e TRAVIS_PULL_REQUEST \
    -e CPUs=2 \
    dvdsgl/quicktype test/test
jobs:
  include:
    - stage: deploy
      env:
        - FIXTURE=none
      before_install: true
      install: npm install
      script: npm run pub
      before_deploy: cd output
      deploy:
        provider: npm
        email: djsiegel@gmail.com
        api_key:
          secure: "UgerPs+Y8yH1zHlyQ4LsKk6KUruJvaLPtlVpwTp19/U49q6be9YXut0C9NFtTguOxKMKdXQiQwcLYRnVcPFVqdnbFj6ie45pmJNNcq6xjfNbV+M26Y7FCzXGNrG2rspA5gCaXGLgbDegT1gpH0NC99V/WPvAlAiGxGhVmZuweNXt6HAhMyuWkKfBsxoUU8i3mUJr72UyO/DiJJxGK7kn4n3Z5jyaooaXOgweroVvbrg0/DFEz2ghQgWSIlNoER2OR9JNxhS0RRCmbtbGdpVlbQ3+NjOpBVjk0AXd8y/Jsr9re7ngqqYyH4zl7oo4SfijuErvznwMu0vwLiAd/c1MvNF+FI+EyvaQzipoulk9VMAXt5oAIXEBk0ZM8huhUcQ/ny3DSg7fqcUbgfh1XLAbdPvieWvYakOtixMBYJuPdH4xLMurcfTIaM+O7nKOONlcPsT5E9EE7D6NH3NKI/UDl78CkTAMIqyygV7ZqUO5x8QtuGsL2n33xoVikRdB8giVcitZTQmRKVKkDhGPfPJkunu8Rl2hgWCiC2/NwOmX2KLFozy4RN1R32zTnz0U3tzAhC33x3p2zvTttus75xRxqZ2DV1ArzpqxGFIiX0/Q2eeyn/cLRTPIWFhIGguYTDmyMPyp9XoJUUG83tzG4wGJx/EiZ9GhuSjLJEu3dbO9aiE="
        skip_cleanup: true
        on:
          branch: master
      cache:
        directories:
          - node_modules
          - bower_components
notifications:
  email:
    on_success: never # default: change
  slack:
    secure: "XRAIego99I4ZbEgPo+NREnrcMGxhJZ5pCKcfwehGrtpyQ0hNKa/F1RKp9BH8F1k7awaXs4MWG9fRsJVm8kaEMp29E9gj81CX4d1Z6Pej3QIjSWJc2+ZYcJDaxe+t9AZEAmmviZqUWn9WkJZvkVtnykdfo19wb1SEScZXm8qHZhefmTfpv7caBSq1Y73tlTsRVnDELqmK0hodBPVnbVLeIseaR0bqqD+bIZsA+YE/vqr9GPrzYqgcJ2vMTr9YrlRzo9Om8WoD0DNOiFWWortJFQ8unoTszjCKzXXOVf6l9CJL7uqe6WY7yRIaMu+x1uRSMBpaoek1ehL3kyn1E5vG3alK6JbCfSFrhiSpJxYSNmK6s9dJrt0teydlil2UsbcHOVOy8B8mWc9L548OEUI6KoRY3mQWaZQYy27hkT1U1F46OA9jvzpSofGLLaXX4sAofO+zuhypzIyvV4qK+Gk0r+ZWYEMh2JcdJ+4JbVw6S9ssdu+88v/29BV8NI3OrS8ci4MHtI0wOoEO799BQU4dXt8pUNem1oZ9SroAjbx4ZR0DClnhhlhBB+2+TjdXtSTBfDVuxs3quzaMXHN8rAZmZYvXPycTDHZUIcB7aDqN2lBp03fuJRSkL/qmQxUn+eXTLOVIecHW+hiimZwpPkFfO+7Nc7lGRO8bo90fY3rtk1Q="
