@import "dropdown.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12pt;
}

.topBar {
  background-color: #8e44ad;
  height: 40px;
  padding: 10px 0 0 12px;

  display: flex;
  flex-direction: row;
}

.Dropdown-root {
  width: 320px;
  font-size: 10pt;
  margin-right: 10px;
}

#editors {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ace_editor {
  width: calc(50vw - 12px) !important;
  height: calc(100vh - 91px) !important;
}

.right .editor-container {
  background: rgb(0, 34, 64);
}

.editor-container {
  padding: 16px 0 0 12px;
}

.titleBar {
  background-color: #F7F7F7;
  height: 26px;
  padding: 14px 0 0 12px;
  text-transform: uppercase;
  font-size: 9pt;
  color: gray;
  border-bottom: 1px solid lightgray;
}