@import "dropdown.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12pt;
}

.topBar {
  background-color: #8e44ad;
  padding: 10px;
}

.Dropdown-root {
  width: 400px;
}

#editors {
  display: flex;
  flex-direction: row;
  width: 100%;

  position: absolute;
  height: 100vh;
}

.ace_editor {
  width: 50vw !important;
  height: 100vh !important;
}

.titleBar {
  background-color: #F7F7F7;
  padding: 14px 10px;
  text-transform: uppercase;
  font-size: 9pt;
  color: gray;
  border-bottom: 1px solid lightgray;
}