$mdc-theme-primary: #009688;
$mdc-theme-accent: #009688;
$mdc-theme-background: #00212B;

@import "~material-components-web/material-components-web";

body {
  margin: 0;
  padding: 0;
  background: #00212B;
}

main {
  padding: 0 !important;
  height: 100vh;
}

#logo {
  margin-right: -24px;
}

.mdc-snackbar {
  z-index: 5;
}

sidebar {
  background: $mdc-theme-background;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 40vw;

  .content {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
  }

  .mdc-select {
    &:first-child {
      margin-right: 20px;
      width: calc(60% - 35px) !important;
    }
    &:last-child {
      width: calc(40% - 35px) !important;
    }
  }

  /* Get open menu above Ace red cursor */
  .mdc-simple-menu--open {
    z-index: 1000;
  }
}

#tab-bar-tabs {
  display: none;
  width: 100%;
  margin-top: 10px;
}

#json-editor {
  z-index: 0;
  font-size: 10pt;
  border-radius: 3px;
  width: calc(40vw - 40px) !important;
  top: 200px;
  left: 20px;
  height: calc(100vh - 286px) !important;

  &.mobile {
    height: calc(100vh - 346px) !important;
  }
}

#button-parent {
  z-index: 4;
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: calc(40vw - 40px);

  button {
    float: right;
    margin-top: 2px;
  }
}

.cli-hint {
  color: white;
  float: left;

  p {
    color: white;
    opacity: 0.5;
    margin: 0 0 4px 0;
    font-size: 11pt;
  }

  pre {
    margin: 0;
    opacity: 0.8;
    font-family: Consolas, Menlo, monospace;
  }
}

#output-editor {
  position: absolute;
  z-index: 0;
  width: 60vw !important;
  left: 40vw;
  top: 0;
  margin: 0;
  font-family: Consolas, Menlo, monospace;
  height: 100vh !important;

  .ace_gutter {
    color: black;
    opacity: 0.3;
    background: white;
  }
}

@media (min-width: 1440px) {
  sidebar {
    width: 600px;
  }
  #json-editor {
    width: calc(600px - 40px) !important;
  }
  #button-parent {
    width: calc(600px - 40px);
  }
  #output-editor {
    width: calc(100vw - 600px);
    left: 600px;
  }
}

@media (max-width: 1000px) {
  $sidebarWidth: 400px;
  sidebar {
    width: $sidebarWidth;
  }
  #json-editor {
    width: ($sidebarWidth - 40px) !important;
  }
  #output-editor {
    width: calc(100vw - #{$sidebarWidth});
    left: $sidebarWidth;
  }
  #button-parent {
    width: $sidebarWidth - 40px;
  }
}

@media (max-width: 800px) {
  $sidebarHeight: 175px;
  .cli-hint,  #entry-toplevel, #button-parent {
    display: none;
  }
  sidebar {
    width: 100vw;
    height: $sidebarHeight;
  }
  #output-editor {
    top: $sidebarHeight;
    left: 0 !important;
    width: 100vw !important;
    height: calc(100vh - #{$sidebarHeight}) !important;
  }
  #json-editor, #json-editor.mobile {
    z-index: 0;
    margin: 0 0 0 -20px;
    top: $sidebarHeight;
    border-radius: 0;
    width: 100vw !important;
    height: calc(100vh - #{$sidebarHeight}) !important;
  }
  #tab-bar-tabs {
    display: table;
  }
}

@media (max-width: 600px) {
  $sidebarHeight: 167px;
  sidebar {
    height: $sidebarHeight;
  }
  #output-editor {
    top: $sidebarHeight;
    height: calc(100vh - #{$sidebarHeight}) !important;
  }
  #json-editor, #json-editor.mobile {
    top: $sidebarHeight;
    height: calc(100vh -  #{$sidebarHeight}) !important;
  }
}